.titulo {
  text-align: center;
  color: #ffffff;
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 2px;
  margin-bottom: 10px;
  margin-top: 100px;
}

.fondo {
  background-image: url(/img/imagen-pelicula.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
}
.element {
  font-weight: bold;
  color: #ffffff;
}
.rating {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
.poster {
  width: 100%;
  border-radius: 8px;
}
.nombre {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
.movie-card img {
  transition: transform 0.3s ease;
}

.movie-card img:hover {
  transform: scale(1.08);
}
