body {
  background-color: black;
  padding-top: 50px;
}

.titulo {
  text-align: center;
  color: #000000;
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 2px;
  margin-bottom: 10px;
  margin-top: 400px;
}

.carrusel img {
  height: 700px;
}

.element {
  font-weight: bold;
  color: #ffffff;
}
.rating {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
.poster {
  width: 100%;
  border-radius: 8px;
}
.nombre {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
.movie-card img {
  transition: transform 0.2s ease;
}

.movie-card img:hover {
  transform: scale(1.1);
}
.puntaje {
  color: rgb(255, 255, 255);
}
.modal-content {
  background-color: #303030;
  color: #fff;
}

.modal-title {
  color: #fff;
}
.estrellas {
  color: gold;
}
.stars {
  margin-top: 40px;
}
.recomendaciones {
  color: white;
}
.peli-individual {
  color: gold;
  margin-top: 30px;
}
.img-id {
  margin-top: 30px;
}

.datos {
  color: #fff;
  margin-top: 30px;
}
.back-home {
  margin-top: 30px;
  margin-bottom: 100px;
}
.navbar-black {
  background-color: #000000;
}
.detalles-peli {
  margin-top: 85px;
}
.notfound-container {
  text-align: center;
  color: white;
}

.notfound-image {
  width: 60%;
  max-width: 500px;
  margin-bottom: 20px;
  margin-top: 0;
}
