body {
  background-color: black;
}

.titulo {
  text-align: center;
  color: #000000;
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 2px;
  margin-bottom: 10px;
  margin-top: 400px;
}

.fondo {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 750px;
}
.element {
  font-weight: bold;
  color: #ffffff;
}
.rating {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
.poster {
  width: 100%;
  border-radius: 8px;
}
.nombre {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
.movie-card img {
  transition: transform 0.2s ease;
}

.movie-card img:hover {
  transform: scale(1.1);
}
.puntaje {
  color: rgb(255, 255, 255);
}
.modal-content {
  background-color: #303030;
  color: #fff;
}

.modal-title {
  color: #fff;
}
.estrellas {
  color: gold;
}
.stars {
  margin-top: 75px;
}
.recomendaciones {
  color: white;
}
